/* ========================== Component Name ========================== */
$component: portfolio-12;
$is: [is=fir-$component];
/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */
$(is){
}

.$(component) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px 0;

  h2 {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
  }

  img {
    width: 45%;
    max-width: 80px;
    height: auto;
    margin: 20px;
  }
  /* ========================== Modifiers ========================== */

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
  &.fir--light {
    h2 {
      color: var(--light);
    }
  }

  &.fir--dark {
    h2 {
      color: var(--dark);
    }
  }
}

/* ========================== Breakpoints ========================== */

/* ================ Query: Small */
$(is).SM .$(component){
  padding: 50px 0;

  img {
    width: 30%;
  }
}

/* ================ Query: Medium */
$(is).MD .$(component){
  padding: 60px 0;

  img {
    width: 12%;
  }
}

/* ================ Query: Large */
$(is).LG .$(component){
  padding: 80px 0;

  img {
    width: 8%;
  }
}

/* ================ Query: Xtra Large */
$(is).XL .$(component){
}

/* ================ Query: Xtra Xtra Large */
$(is).XXL .$(component){
}
